div.vis-network div.vis-navigation div.vis-button.vis-up {
    background-image: url("../../../arrow-up.png");
    background-size: cover;
    background-position: -0.5px -0.1px;
    bottom: 10px;
    left: 50px;
}

div.vis-network div.vis-navigation div.vis-button.vis-up:hover {
    box-shadow: 0 0 5px gray;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {
    background-image: url("../../../arrow-down.png");
    background-size: cover;
    background-position: -0.5px -0.1px;
    bottom: 10px;
    left: 100px;
}

div.vis-network div.vis-navigation div.vis-button.vis-down:hover {
    box-shadow: 0 0 5px gray;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
    background-image: url("../../../arrow-left.png");
    background-size: cover;
    background-position: -0.5px -0.1px;
    bottom: 10px;
    left: 150px;
}

div.vis-network div.vis-navigation div.vis-button.vis-left:hover {
    box-shadow: 0 0 5px gray;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
    background-image: url("../../../arrow-right.png");
    background-size: cover;
    background-position: -0.5px -0.1px;
    bottom: 10px;
    left: 200px;
}

div.vis-network div.vis-navigation div.vis-button.vis-right:hover {
    box-shadow: 0 0 5px gray;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    background-image: url("../../../icons8-plus-24.png");
    background-size: cover;
    background-position: -0.5px -0.1px;
    bottom: 10px;
    right: 100px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn:hover {
    box-shadow: 0 0 5px gray;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    background-image: url("../../../icons8-minus-24.png");
    background-size: cover;
    background-position: -0.5px -0.1px;
    bottom: 10px;
    right: 50px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut:hover {
    box-shadow: 0 0 5px gray;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    background-image: url("../../../icons8-extend-30.png");
    background-size: cover;
    background-position: -0.5px -0.1px;
    bottom: 60px;
    right: 50px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends:hover {
    box-shadow: 0 0 5px gray;
}